.nextBtn{
    margin: 10px;
    border-radius: 30px !important  ;
    background-color: rgb(96 56 19) !important;
    color: white !important;
    width: 140px;
    height: 50px;
    font-family: 'Cairo', sans-serif !important;
    font-family: 'Jomhuria', cursive !important;
    font-size: 25px !important;
}