@model PLatform.Models.Class
@{
    ViewBag.Title = "Index";
    

}

<link rel="stylesheet" href="~/Content/VedioPage.css">

<section style="min-height: 600px;display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1>@Model.Name</h1>
    <div class="container">
        <div class="row" style="display: flex; justify-content: center; align-items: center ;">
            <iframe class="embed-responsive-item col-lg-7   " src="@Model.VidSrc" height="400" title="A YouTube video" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    @{
        var next = Model.Id + 1;


    }
    @if (TempData["index"] != null)
    {

        <a class="btn nextBtn" href="/WatchVideo/Index/@TempData["index"]">  << الحصة التالية </a>
    }
    else
    {
        <a class="btn nextBtn" href="/Class"> الحصص </a>

    }

</section>

