
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPageLayout.cshtml";
}
<div class="overview">
    <div class="title">
        <i style="background-color:brown;" class="uil uil-tachometer-fast-alt"></i>
        <span class="text">رئيسي</span>
    </div>

    <div class="boxes">
        <div class="box box1">
            <i class="uil uil-user"></i>
            <span class="text">عدد الطلاب</span>
            <span class="number">3,000</span>
        </div>
        <div class="box box2">
            <i class="uil uil-book-open"></i>
            <span class="text">عدد الحصص</span>
            <span class="number">200</span>
        </div>
        <div class="box box3">
            <i class="uil uil-graduation-cap"></i>
            <span class="text">عدد السنين الدراسية</span>
            <span class="number">3</span>
        </div>
    </div>
</div>